.category-list-product-owl-carousel {
    .owl-nav {
        button {
            position: absolute;
            top: 40%;
        }
        button:nth-child(1) {
            left: -1%;
        }
        button:nth-child(2) {
            right: -2%;
        }
    }
}

@media only screen and (max-width: 576px) {
    .products-just-for-you {
        background-color: white !important;
<<<<<<< HEAD
        .products-just-for-you-wrap{
            padding: 0.25rem !important;
            .list-product{
                margin-top: 1rem;
                margin-bottom: 0;
            }
        }
=======
>>>>>>> 9eb8b8205b9848d613fe2d15ffe370f700a51dc0
    }
}
