.viewed-the-product-owl-carousel {
    .owl-nav {
        button {
            position: absolute;
            top: 40%;
        }
        button:nth-child(1) {
            left: -1%;
        }
        button:nth-child(2) {
            right: -2%;
        }
    }
}