.product-display {
<<<<<<< HEAD
  min-height: 437px;
=======
  min-height: 428px;
>>>>>>> 9eb8b8205b9848d613fe2d15ffe370f700a51dc0
}
.product-display .product-display-tag {
  font-size: 13.5px;
}
.product-display .product-display-tag div {
  background-color: #e90000;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  right: 0;
}
.product-display .product-display-tag > div:nth-child(1) {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.product-display .product-display-tag > div:nth-child(2) {
  top: 7.5%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.product-display .product-display-cart {
<<<<<<< HEAD
  background-color: #ff7032;
=======
  background-color: #FF7032;
>>>>>>> 9eb8b8205b9848d613fe2d15ffe370f700a51dc0
  right: 6%;
  bottom: 2%;
}
.product-display .product-display-detail .product-display-detail-col-right .product-display-detail-col-right-name {
  font-size: 14px;
}
.product-display .product-display-detail .product-display-detail-col-right .product-display-detail-col-right-discount > div:nth-child(1) {
  font-size: 13.5px;
  text-decoration-line: line-through;
}
.product-display .product-display-detail .product-display-detail-col-right .product-display-detail-col-right-discount > div:nth-child(2) {
  font-size: 11px;
<<<<<<< HEAD
  border: 1.5px solid #f46538;
  color: #f46538;
=======
  border: 1.5px solid #F46538;
  color: #F46538;
>>>>>>> 9eb8b8205b9848d613fe2d15ffe370f700a51dc0
}
.product-display .product-display-detail .product-display-detail-col-right .product-display-detail-col-right-sub {
  font-size: 12px;
}
.product-display .product-display-detail .product-display-detail-col-right span {
  font-size: 13.5px;
}
.product-display .product-display-note {
  background-color: #23c4f4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.product-display .product-display-note > div:nth-child(2) {
  font-size: 12px;
}
<<<<<<< HEAD

@media only screen and (max-width: 552px) {
  .product-display {
    min-height: 400px;
  }
  .product-display .product-display-detail .product-display-detail-col-right .product-display-detail-col-right-name {
    overflow: hidden;
    height: 38px;
    font-size: 13.5px;
  }
}
=======
>>>>>>> 9eb8b8205b9848d613fe2d15ffe370f700a51dc0
