.category-list-product-owl-carousel .owl-nav button {
  position: absolute;
  top: 40%;
}
.category-list-product-owl-carousel .owl-nav button:nth-child(1) {
  left: -1%;
}
.category-list-product-owl-carousel .owl-nav button:nth-child(2) {
  right: -2%;
}

@media only screen and (max-width: 576px) {
  .products-just-for-you {
    background-color: white !important;
  }
  .products-just-for-you .products-just-for-you-wrap {
    padding: 0.25rem !important;
  }
  .products-just-for-you .products-just-for-you-wrap .list-product {
    margin-top: 1rem;
    margin-bottom: 0;
  }
}
