.service-banner-owl-carousel {
    .owl-nav {
        display: block !important;
        button {
            position: absolute;
            top: 40%;
        }
        button:nth-child(1) {
            left: -1.3%;
        }
        button:nth-child(2) {
            right: -1.3%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .service-banner-owl-carousel {
        .owl-nav {
            display: none !important;
        }
        // .owl-item {
        //     width: 493px !important;
        //     height: 149px !important; 
        // }
    }
}
