.list-category-page{
    .category-item{
        >div{
            >div:nth-child(1){
                width: 65%;
                min-height: 100px;
                border: 2px solid #5ED1F7;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .list-category-page{
        .category-item{
            >div{
                >div:nth-child(1){
                    border: none !important;
                }
            }
        }
    }
}

<<<<<<< HEAD
@media (max-width: 576px) {
    .list-category-product{
        padding: 0.5rem !important;
    }
}
=======
>>>>>>> 9eb8b8205b9848d613fe2d15ffe370f700a51dc0
