.list-product-home {
  background-color: #DFF2FE;
}
.list-product-home .list-product .list-product-item {
  width: 31%;
}
.list-product-home .list-product-view-all {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .list-product-home {
    background-color: white;
  }
}
