.service-banner-owl-carousel .owl-nav {
  display: block !important;
}
.service-banner-owl-carousel .owl-nav button {
  position: absolute;
  top: 40%;
}
.service-banner-owl-carousel .owl-nav button:nth-child(1) {
  left: -1.3%;
}
.service-banner-owl-carousel .owl-nav button:nth-child(2) {
  right: -1.3%;
}

@media only screen and (max-width: 768px) {
  .service-banner-owl-carousel .owl-nav {
    display: none !important;
  }
}
