.product-detail-col-right{
    .benefits-list{
        padding-left: 0;
        list-style: none;
        line-height: 3;
        li{
            font-size: 14px;
        }
    }   
}

.product-detail-owl-carousel {
    .owl-nav {
        button {
            position: absolute;
            top: 50%;
        }
        button:nth-child(1) {
            left: 3%;
        }
        button:nth-child(2) {
            right: 3%;
        }
    }
}
